In [1]:
l = [1,2,3,4,5,"sudh"]
for i in l:
    if type(i) == str:
        print(i)
else :
    print("on success")

sudh
on success

In [5]:
i = 1
n = 5
while i < n:
    print(i)
    i = i+1
else: 
    print("on success")

1
2
3
4
on success

In [3]:
x = 1
while x <10:
    print(x)
    if x == 5:
        break 
    x = x +1
else :
    print("on success")

1
2
3
4
5

In [6]:
s = "sudh"
for i in s :
    print(i)
    if i =="d":
        break
else:
    print("on success")

s
u
d

continue goes in the loop and keeps on running the while loop

In [11]:
i =4
n =10
while i <n:
    print(i)
    if i == 6:
        continue
    i=i+1

5
6

in this scenario when it reaches 5, it doesnt print(i) and it goes back to the for loop, so basically, it goes bac

In [21]:
l = ["sudh", "kumar", 3,4,5,6,7]
for i in l:
     if i ==5:
        continue 
     print(i)

sudh
kumar
3
4
6
7

In [35]:
s = "ineurdfdffdffddon"
len(s)

17

In [27]:
s.find('n')

1

In [30]:
s.find('eu')

2

In [36]:
s.count('d')

5

In [38]:
s.split('d')

['ineur', 'f', 'ff', 'ff', '', 'on']

In [39]:
s.upper()

'INEURDFDFFDFFDDON'

In [41]:
s = "Sudhanshu"
s.lower()

'sudhanshu'

In [42]:
s.swapcase()

'sUDHANSHU'

In [45]:
s = "sudhanshu"
s.capitalize()

'Sudhanshu'

In [46]:
s = "sudh"
list(reversed(s))

['h', 'd', 'u', 's']

In [47]:
s

'sudh'

In [48]:
s[::-1]

'hdus'

In [55]:
s ="      ineuron   "
s.strip()

'ineuron'

In [56]:
s.lstrip()

'ineuron   '

In [57]:
s.rstrip()

'      ineuron'

In [61]:
" ".join("Welcome to ineuron")

'W e l c o m e   t o   i n e u r o n'

In [63]:
s = "sudh"
s.replace("d", "xyz")

'suxyzh'

In [67]:
s.center(20,' ')

'        sudh        '

In [68]:
'sudh\tineuron'.expandtabs()

'sudh    ineuron'

In [71]:
s = "sudh"
s.islower()

True

In [72]:
s.islower()

True

In [73]:
s = "Sudh"
s.isupper()

False

In [74]:
s.isspace()

False

In [79]:
s = " "
s.isspace()

True

In [80]:
s = "sudh"
s.isdigit()

False

In [81]:
s = "4564564ui"
s.isdigit()

False

In [82]:
s

'4564564ui'

In [85]:
s.endswith('i')

True

In [87]:
s.startswith('4')

True

In [89]:
s = "sudh4546"
s.isalpha()

False

In [90]:
s.isalnum()

True

In [91]:
s = "my name is sudh"
for i in s:
    print(i)

m
y

n
a
m
e

i
s

s
u
d
h

In [92]:
s = 'ineuron'
s [::-1]

'norueni'

In [93]:
for i in reversed(s):
    print(i)

n
o
r
u
e
n
i

In [95]:
s = "ineuron"
list =[]
i =len(s) - 1
while i >=0:
    list.append(s[i])
    i = i-1
print(list)

['n', 'o', 'r', 'u', 'e', 'n', 'i']

In [97]:
s = "ineuron"
l = len(s) - 1
while l >=0:
    print(s[l])
    l=l-1

n
o
r
u
e
n
i

In [98]:
len(s)

7

In [101]:
s[6]

'n'

In [105]:
"my name is {}".format("sudh")

'my name is sudh'

In [106]:
i = input("enter your name")
"my name is {}".format(i)

enter your namesudh

'my name is sudh'

In [109]:
i = input("enter your name ")
school_name = input("Enter your school name ")
education = input("enter your education ")
"my name is {}, and my school name is {}, and my education is {}".format(i,school_name,education)

enter your name Ashish
Enter your school name SAHS
enter your education Business IT

'my name is Ashish, and my school name is SAHS, and my education is Business IT'

In [110]:
l = [1,2,3,4,5,5,"sudh","kumar","ineuron"]
len(l)

9

In [111]:
"sudh" in l

True

In [112]:
l

[1, 2, 3, 4, 5, 5, 'sudh', 'kumar', 'ineuron']

In [113]:
l.append("computer vision")

In [114]:
l

[1, 2, 3, 4, 5, 5, 'sudh', 'kumar', 'ineuron', 'computer vision']

In [115]:
l.append("machine learning")

In [116]:
l

[1,
 2,
 3,
 4,
 5,
 5,
 'sudh',
 'kumar',
 'ineuron',
 'computer vision',
 'machine learning']

In [117]:
l.pop()

'machine learning'

In [118]:
l

[1, 2, 3, 4, 5, 5, 'sudh', 'kumar', 'ineuron', 'computer vision']

In [119]:
l.pop()

'computer vision'

In [120]:
l

[1, 2, 3, 4, 5, 5, 'sudh', 'kumar', 'ineuron']

In [121]:
l.pop(6)

'sudh'

In [122]:
l

[1, 2, 3, 4, 5, 5, 'kumar', 'ineuron']

In [123]:
l.reverse()

In [124]:
l

['ineuron', 'kumar', 5, 5, 4, 3, 2, 1]

In [126]:
l.insert(0,"taptap")

In [127]:
l

['taptap', 'ineuron', 'kumar', 5, 5, 4, 3, 2, 1]

In [128]:
l.insert(20,"fin")

In [129]:
l

['taptap', 'ineuron', 'kumar', 5, 5, 4, 3, 2, 1, 'fin']

In [131]:
l.remove(5)

In [132]:
l

['taptap', 'ineuron', 'kumar', 5, 4, 3, 2, 1, 'fin']

In [134]:
l.reverse()

In [135]:
l

['fin', 1, 2, 3, 4, 5, 'kumar', 'ineuron', 'taptap']

In [136]:
l =[1,2,3,4,5]
l1= [45,6,7,8,9]

In [137]:
l +l1

[1, 2, 3, 4, 5, 45, 6, 7, 8, 9]

In [140]:
l.append(l1)

In [141]:
l

[1, 2, 3, 4, 5, [45, 6, 7, 8, 9], [45, 6, 7, 8, 9]]

In [142]:
l.insert(-1,l1)

In [143]:
l

[1, 2, 3, 4, 5, [45, 6, 7, 8, 9], [45, 6, 7, 8, 9], [45, 6, 7, 8, 9]]

In [144]:
l.extend(l1)

In [145]:
l = [4,5,6,7,8,9]
l1 = [1,2,3,10,11,12]

In [146]:
l.extend(l1)

In [147]:
l

[4, 5, 6, 7, 8, 9, 1, 2, 3, 10, 11, 12]

In [148]:
l.append(l1)
l

[4, 5, 6, 7, 8, 9, 1, 2, 3, 10, 11, 12, [1, 2, 3, 10, 11, 12]]

In [149]:
s = "my name is sudh"

In [151]:
for i in s.split():
    print(i)

my
name
is
sudh

In [152]:
l = [1,2,3,4,56]
for i in l:
    i =i*i
    print(i)

1
4
9
16
3136

In [153]:
l = [1,2,3,4,56]
l1 = []
for i in l:
    l1.append(i**2)

In [154]:
l1

[1, 4, 9, 16, 3136]

In [156]:
[i**2 for i in l]

[1, 4, 9, 16, 3136]

In [160]:
s = "sudh"
[i for i in s]

['s', 'u', 'd', 'h']

In [165]:
s="sudh"
[i for i in s]

['s', 'u', 'd', 'h']

In [161]:
#try to create a separate list with even and odd number of size 10 and perfrom element wise addition operation

In [167]:
l1 = [i for i in range(2,20,2)]
l2 = [i for i in range(1,20,2)]
l = []
for i in range(len(l1)):
    l.append(l1[i] + l2[i])

In [173]:
l

[3, 7, 11, 15, 19, 23, 27, 31, 35]

In [175]:
#q1 : Write a list comprehension operation for generating all the list of alphabetical character in upper case and
# lower case.
#q2 : Write a code for palindrome by using while statement.
#q3 : Write a code to sort your string in alphabetical order (Do not use sort function)