In [1]:
l = [3,4,5,6,7,7]
len(l)

6

In [2]:
print("this is my print")

this is my print

In [3]:
type(l)

list

In [5]:
def test():
    pass

In [6]:
test()

In [7]:
def test1():
    print("this is first fun")

In [8]:
test1()

this is first fun

In [9]:
def sudh():
    print("this is my own function")

In [10]:
sudh()

this is my own function

In [11]:
def test2():
    print(1+2)

In [13]:
test2()

3

In [16]:
def test3(a,b):
     print(a+b)

In [17]:
test3(2,4)

6

In [18]:
test3(10,40)

50

In [20]:
test3(56,34)

90

In [21]:
test3("sudh","kumar")

sudhkumar

In [24]:
test3(4,"sudh")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
def test4(a,b):
    if type(a)!=str:
        print(str(a) + b)
    else:
        print(a+b)

In [28]:
test4(4, "sudh")

4sudh

In [32]:
test4(4,"sudh")+ "kumar"

4sudh

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

always use return and not print, coz print doesnt allow to use maths

In [39]:
def test5(a,b):
    if type(a)!= str:
        return str(a) + b
    else:
        return a+b

In [40]:
type(test5(4,"sudh"))

str

In [41]:
test5(4,"sudh" + "kumar")

'4sudhkumar'

In [49]:
def test6(a, b, c):
    return a+2, b+3, c+4, a+b+c

In [51]:
n = test6(3,4,6)

In [52]:
a = 10
b = 4
c = "sudh"
d = 56.45

In [53]:
a,b,c,d = 10,4,"sudh",56.45

In [54]:
n

(5, 7, 10, 13)

In [56]:
x, y,z,w = test6(3,4,5)

In [57]:
x

5

In [59]:
y

7

In [60]:
z

9

In [64]:
w

12

In [70]:
x, y,z,w = test6(3,4,5)

In [72]:
w

12

In [73]:
w**3

1728

In [74]:
w**2

144

In [78]:
def test7(x, y):
    return x+y, x , x**4, x*y

In [82]:
test7(3,4)[2]/3

27.0

In [86]:
_,_,t,_ = test7(3,4)

In [84]:
t

81

In [87]:
def test7(b,v,c):
    d = b*v*c
    f = b+v+c+d
    return d, f

In [88]:
test7(4,5,6)

(120, 135)

In [89]:
a,b = test7(4,5,6)

In [90]:
a

120

In [91]:
b

135

In [92]:
test7(4,5,6)

(120, 135)

In [106]:
l = ["sudh", 3,4,5,6,"kumar", 'a', 'b', 56.45]

In [94]:
c = 0
for i in l:
    if type(i) == str:
        c+=1
print (c)

4

In [107]:
l1 = ["sudh", 3,4,5,6,"kumar", 'a', 'b', 56.45,56,"df","dfsf"]

In [123]:
def test8(l):

    c = 0
    for i in l:
        if type(i) == str:
            c+=1
    return (c)

In [117]:
test8(l)

4

In [118]:
test8(l1)

6

In [124]:
l2 = ["sudh", 3,4,5,6,"kumar", 'a', 'b', 56.45,56,"df","dfsf"]

In [125]:
type(test8(l2))

int

In [128]:
def test8(l):
    """this is my function where it will return number of string var available inside list"""
    c = 0
    for i in l:
        if type(i) == str:
            c+=1
    return c

In [129]:
test8(l)

4

In [136]:
def test9(b=10,c=6):
    return b,c

In [137]:
test9(4)

(4, 6)

In [138]:
test9("sudh")

('sudh', 6)

In [145]:
v, _= test9(4)

In [146]:
v

4

In [147]:
def test10(a,b,c,n,v):
    return "this is my fun"

In [148]:
test10(2,3,4,5,6)

'this is my fun'

In [154]:
test10(2,3,4,5,6,7,8)

TypeError: test10() takes 5 positional arguments but 7 were given

In [159]:
def testl11(*args):
    return args

In [160]:
test111(3,4,5,6,7,8)

(3, 4, 5, 6, 7, 8)

In [161]:
testl11(3,"sudh")

(3, 'sudh')

In [163]:
testl11(4,5,6,7,8,"fire",'ice')

(4, 5, 6, 7, 8, 'asdadsa', 'adsad')

In [173]:
def test12(*sudh):
    con = ""
    for i in sudh:
        if type(i) == str:
            con = con + i
    return con

In [174]:
test12(4,5,6,7,8, "fire",'ice')

'fireice'

In [175]:
test12("sudh", "kumar")

'sudhkumar'

In [176]:
test12("sudh", "kumar", "ineuron")

'sudhkumarineuron'

In [177]:
test12

In [178]:
def test12(*args):
    con = ""
    for i in args:
        if type(i) == str:
            con = con + i
    return con

In [179]:
def test13(*args, a,b,c,d):
    return args,a,b,c,d

In [181]:
test13(3,4,5,6,6,7, a=45, b=56, c=23, d=12)

((3, 4, 5, 6, 6, 7), 45, 56, 23, 12)

In [182]:
test13(3,4,5,6,6,7, a=45, b=56, c=23)

TypeError: test13() missing 1 required keyword-only argument: 'd'

In [183]:
def test14(**kwargs):
    return kwargs

In [187]:
test14(a=34, b=56,c=67, sudh= [3,4,5,6,6])

{'a': 34, 'b': 56, 'c': 67, 'sudh': [3, 4, 5, 6, 6]}

In [188]:
def test14(**kwargs):
    con = []
    for i in kwargs:
        if type(kwargs[i]) == list:
            con.append(kwargs[i])   
    
    return con

In [189]:
test14(a=34, b=56,c=67, sudh= [3,4,5,6,6])

[[3, 4, 5, 6, 6]]